# Salary estimator from listings

## Setup

In [ ]:
%pip install pandas xgboost scikit-learn plotly # gensim

First we must import our packages to manage the dataset. Then we can import the data.

## Get the data

Now we can load the dataset.

In [11]:
import os
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

In [12]:

repo_path = os.path.abspath("")
df = pd.read_csv(repo_path + '/archive/postings.csv')
df.head()

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,...,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,...,1.715990e+12,NaN,NaN,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,...,1.715450e+12,NaN,NaN,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,...,1.715870e+12,NaN,NaN,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY
3,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,175000.0,YEARLY,"New Hyde Park, NY",766262.0,16.0,NaN,...,1.715488e+12,NaN,NaN,This position requires a baseline understandin...,1.712896e+12,NaN,0,FULL_TIME,USD,BASE_SALARY
4,35982263,NaN,Service Technician,Looking for HVAC service tech with experience ...,80000.0,YEARLY,"Burlington, IA",NaN,3.0,NaN,...,1.716044e+12,NaN,NaN,NaN,1.713452e+12,NaN,0,FULL_TIME,USD,BASE_SALARY

In [13]:
for c in df.columns:
    print(c,'----------------')
    print(df[c].unique()[:3])
    print('    nan count:',df[c].isna().sum())

job_id ----------------
[  921716  1829192 10998357]
    nan count: 0
company_name ----------------
['Corcoran Sawyer Smith' nan 'The National Exemplar ']
    nan count: 1719
title ----------------
['Marketing Coordinator' 'Mental Health Therapist/Counselor'
 'Assitant Restaurant Manager']
    nan count: 0
description ----------------
['Job descriptionA leading real estate firm in New Jersey is seeking an administrative Marketing Coordinator with some experience in graphic design. You will be working closely with our fun, kind, ambitious members of the sales team and our dynamic executive team on a daily basis. This is an opportunity to be part of a fast-growing, highly respected real estate brokerage with a reputation for exceptional marketing and extraordinary culture of cooperation and inclusion.Who you are:You must be a well-organized, creative, proactive, positive, and most importantly, kind-hearted person. Please, be responsible, respectful, and cool-under-pressure. Please, be proficient in Adobe Creative Cloud (Indesign, Illustrator, Photoshop) and Microsoft Office Suite. Above all, have fantastic taste and be a good-hearted, fun-loving person who loves working with people and is eager to learn.Role:Our office is a fast-paced environment. You’ll work directly with a Marketing team and communicate daily with other core staff and our large team of agents. This description is a brief overview, but your skills and interests will be considered in what you work on and as the role evolves over time.Agent Assistance- Receive & Organize Marketing Requests from Agents- Track Tasks & Communicate with Marketing team & Agents on Status- Prepare print materials and signs for open houses- Submit Orders to Printers & Communicate & Track DeadlinesGraphic Design & Branding- Managing brand strategy and messaging through website, social media, videos, online advertising, print placement and events- Receive, organize, and prioritize marketing requests from agents- Fulfill agent design requests including postcards, signs, email marketing and property brochures using pre-existing templates and creating custom designs- Maintain brand assets and generic filesEvents & Community- Plan and execute events and promotions- Manage Contacts & Vendors for Event Planning & SponsorshipsOur company is committed to creating a diverse environment and is proud to be an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to race, color, religion, gender, gender identity or expression, sexual orientation, national origin, genetics, disability, age, or veteran status.Job Type: Full-time\nPay: $18-20/hour\nExpected hours: 35 – 45 per week\nBenefits:Paid time offSchedule:8 hour shiftMonday to FridayExperience:Marketing: 1 year (Preferred)Graphic design: 2 years (Preferred)Work Location: In person\n'
 'At Aspen Therapy and Wellness , we are committed to serving clients with best practices to help them with change, improvements and better quality of life. We believe in providing a secure, supportive environment to grow as a clinician and learn how to foster longevity in the career which is part of our mission statement.\nThank you for taking the time to explore a career with us. We are excited to be a new group practice in the community. If you are looking for quality supervision as you work towards licensure and ability to serve populations while accepting a variety of insurance panels, we may be a good fit. Our supervisors are trained in EMDR and utilize a parts work perspective with a trauma lens.\nWe are actively looking to hire a therapist in the area who is passionate about working with adults and committed to growth and excellence in the field. We are located in Old Town Square, Fort Collins.\nWe value and are strengthened by diversity and desire a warm and welcoming place for all people. We believe in racial and ethnic equality, gender equity and social inclusion.\nPosition Requirement Possibilities:A graduate level psychological counseling-related degreeMasters of Social Work (MSW/LSW)Licensed Professional Counselor Candidate (LPCC)Clinical Social worker (LCSW)Professional Counselor (LPC)Marriage/Family Therapist (LMFT)Relating to this?Wanting to deliver high quality mental healthcareSeeking quality supervision and growth in a healthy environmentWhat we offer:Flexible work scheduleW2 Employment - commission basedBuilding to full time workJump of 5% in commission as well as monthly bonus/stipend once full timeWeekly supervision providedPaid weekly team meetings $30/hrTwo paid wellness hours/month $30/hrTelemedicine and in-person flexibilitySupportive work environment with direct access to two supervisorsAdministrative supportApproved professional development training providedFully automated EHR and technology supportStrong work/life balanceJob Duties:Conducting intake assessmentsDeveloping and implementing treatment plans for clients based on assessment and coordinating any additional services needed, revising as necessaryConducting individual sessions as appropriate for the treatment plan of the patientApplying psychotherapeutic techniques and interventions in the delivery of services to individuals for the purpose of treating emotional and behavioral disorders that have been diagnosed in assessmentParticipating in team meetings in order to staff new cases. Presenting appropriate patient information to the team. Recommending effective treatment interventions.Building and maintaining an active caseload with assigned clientsCompleting timely progress notes and treatment updates in the EHR. Maintaining all clinical documentation in accordance with regulatory and accrediting standardsProviding crisis intervention to patients in acute distress and referring as neededPerforming case management and discharge planning as neededExcellent communication and interpersonal skillsCompassionate and empathetic approach to patient carePlease send resume and cover letter to info@aspentherapyandwellness.com\nAbout Aspen Therapy and Wellness LLCAspen Therapy and Wellness is a mental health services provider focusing on work with adults in an outpatient setting, working with a variety of mental health issues both in-person in Old Town Fort Collins and throughout the state of Colorado via telehealth services.\nPlease note that this job description is not exhaustive and additional duties may be assigned as needed.'
 'The National Exemplar is accepting applications for an Assistant Restaurant Manager.\nWe offer highly competitive wages, healthcare, paid time off, complimentary dining privileges and bonus opportunities. \nWe are a serious, professional, long-standing neighborhood restaurant with over 41 years of service. If you are looking for a long-term fit with a best in class organization then you should apply now. \nPlease send a resumes to pardom@nationalexemplar.com. o']
    nan count: 7
max_salary ----------------
[2.0e+01 5.0e+01 6.5e+04]
    nan count: 94056
pay_period ----------------
['HOURLY' 'YEARLY' nan]
    nan count: 87776
location ----------------
['Princeton, NJ' 'Fort Collins, CO' 'Cincinnati, OH']
    nan count: 0
company_id ----------------
[ 2774458.       nan 64896719.]
    nan count: 1717
views ----------------
[20.  1.  8.]
    nan count: 1689
med_salary ----------------
[ nan 350.  25.]
    nan count: 117569
min_salary ----------------
[1.7e+01 3.0e+01 4.5e+04]
    nan count: 94056
formatted_work_type ----------------
['Full-time' 'Internship' 'Contract']
    nan count: 0
applies ----------------
[ 2. nan  4.]
    nan count: 100529
original_listed_time ----------------
[1.71339751e+12 1.71285789e+12 1.71327761e+12]
    nan count: 0
remote_allowed ----------------
[nan  1.]
    nan count: 108603
job_posting_url ----------------
['https://www.linkedin.com/jobs/view/921716/?trk=jobs_biz_prem_srch'
 'https://www.linkedin.com/jobs/view/1829192/?trk=jobs_biz_prem_srch'
 'https://www.linkedin.com/jobs/view/10998357/?trk=jobs_biz_prem_srch']
    nan count: 0
application_url ----------------
[nan 'www.childrensnebraska.org'
 'https://www.kidsbookbank.org/employment/']
    nan count: 36665
application_type ----------------
['ComplexOnsiteApply' 'SimpleOnsiteApply' 'OffsiteApply']
    nan count: 0
expiry ----------------
[1.71598951e+12 1.71544989e+12 1.71586961e+12]
    nan count: 0
closed_time ----------------
[           nan 1.71320772e+12 1.71321223e+12]
    nan count: 122776
formatted_experience_level ----------------
[nan 'Entry level' 'Mid-Senior level']
    nan count: 29409
skills_desc ----------------
['Requirements: \n\nWe are seeking a College or Graduate Student (can also be completed with school) with a focus in Planning, Architecture, Real Estate Development or Management or General Business. Must be able to work in an extremely fast paced environment and able to multitask and prioritize.'
 nan
 'We are currently accepting resumes for FOH - Asisstant Restaurant Management with a strong focus on delivering high quality customer service. Prefer 1 to 3 years FOH management experience. Candidate should be a self-starter, proactive, attentive to details and like developing others. Must have a strong sense of teamwork and strong witten and verbal communication skills. Have a keen interest in service, food and learning. Passion for excellence and doing things right.']
    nan count: 121410
listed_time ----------------
[1.71339751e+12 1.71285789e+12 1.71327761e+12]
    nan count: 0
posting_domain ----------------
[nan 'arrowstaffingservices.thejobnetwork.com'
 'williamsleagroupltd.thejobnetwork.com']
    nan count: 39968
sponsored ----------------
[0]
    nan count: 0
work_type ----------------
['FULL_TIME' 'INTERNSHIP' 'CONTRACT']
    nan count: 0
currency ----------------
['USD' nan 'CAD']
    nan count: 87776
compensation_type ----------------
['BASE_SALARY' nan]
    nan count: 87776

In [14]:
columns_to_drop = [
    'views','applies','original_listed_time','remote_allowed','job_posting_url','application_url','application_type',
    'expiry','closed_time','listed_time','posting_domain','sponsored','compensation_type','sponsored',
    ]
if 'views' in df.columns:
    df.drop(columns_to_drop, axis=1, inplace=True)
print(list(df.columns))

['job_id', 'company_name', 'title', 'description', 'max_salary', 'pay_period', 'location', 'company_id', 'med_salary', 'min_salary', 'formatted_work_type', 'formatted_experience_level', 'skills_desc', 'work_type', 'currency']

In [15]:
pay_cols = ["max_salary","med_salary","min_salary"]
df.dropna(thresh=1, subset=pay_cols, inplace=True)
len(df.index)

36073

In [17]:
print(list(df['location'].unique()[:5]))

['Princeton, NJ', 'Fort Collins, CO', 'Cincinnati, OH', 'New Hyde Park, NY', 'Burlington, IA']

In [18]:
print(list(df['formatted_experience_level'].unique()))

[nan, 'Mid-Senior level', 'Associate', 'Entry level', 'Director', 'Internship', 'Executive']

In [19]:
graph_cols = pay_cols + ['company_name','title','location','pay_period']
pay_df = df[graph_cols].copy()

In [20]:
state = pay_df['location'].str.split(',').str[1]
pay_df['state'] = state
#pay_df['location'] = pay_df['location'].str.split(',')[1]
#print(pay_df)
print(pay_df.dtypes)

max_salary      float64
med_salary      float64
min_salary      float64
company_name     object
title            object
location         object
pay_period       object
state            object
dtype: object

In [22]:
salary_df = pay_df.loc[pay_df['pay_period'] != 'HOURLY']
salary_state_df = salary_df[['state']+pay_cols]

dfd = dfc.copy()

# Setting multiple items using a mask
mask = dfd['a'].str.startswith('o')

dfd.loc[mask, 'c'] = 42

salary_state_df.loc['state','all_pay'] = salary_state_df[pay_cols].values.tolist()

C:\Users\JWight1\AppData\Local\Temp\ipykernel_24796\472961288.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  salary_state_df.loc['state','all_pay'] = salary_state_df[pay_cols].values.tolist()

ValueError: Must have equal len keys and value when setting with an ndarray

In [69]:

print(salary_state_df.head())
salary_state_df['avg_pay'] = (salary_state_df['all_pay'][~salary_state_df['all_pay'].isna()]).mean()
print(salary_state_df.head())
fig_data = salary_state_df.groupby('state')
print(fig_data.mean())

fig_data = fig_data[['state', 'all_pay']]
print(fig_data.head())
import plotly.express as px
fig = px.bar()
fig.show()

  state  max_salary  med_salary  min_salary                    all_pay
2    OH     65000.0         NaN     45000.0    [65000.0, nan, 45000.0]
3    NY    175000.0         NaN    140000.0  [175000.0, nan, 140000.0]
4    IA     80000.0         NaN     60000.0    [80000.0, nan, 60000.0]
6   NaN    300000.0         NaN     60000.0   [300000.0, nan, 60000.0]
7    CA    120000.0         NaN     90000.0   [120000.0, nan, 90000.0]

TypeError: complex() first argument must be a string or a number, not 'list'